include:
  - compose.headless.yaml

services:
  backend:
    build:
      context: .
      dockerfile: riski-backend/Dockerfile
      args:
        - HTTPS_PROXY=${HTTPS_PROXY}
    env_file:
      - ./.env
    volumes:
      - ./ca-bundle.crt:/etc/ssl/certs/ca-bundle.crt:ro
    ports:
      - "39146:8080"
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8080/api/healthz"]

  refarch-gateway:
    image: ghcr.io/it-at-m/refarch/refarch-gateway:1.7.0@sha256:3f82ab83c212ca53c9c2b606cfe29291f21525eac86fece215d0e1c6ca51273f
    ports:
      - "8083:8080"
    env_file:
      - ./.env
    environment:
      - ALLOWED_ORIGINS_PUBLIC=http://localhost:*
      - ALLOWED_ORIGINS_CLIENTS=http://localhost:*
      - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=backend
      - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=http://backend:8080/
      - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/**
      - SPRING_CLOUD_GATEWAY_ROUTES_0_FILTERS_0=RewritePath=/api/(?<urlsegments>.*), /api/$\{urlsegments}
      - SPRING_CLOUD_GATEWAY_ROUTES_1_ID=frontend
      - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=http://frontend:8080/
      - SPRING_CLOUD_GATEWAY_ROUTES_1_PREDICATES_0=Path=/**
      - SPRING_PROFILES_ACTIVE=no-security,hazelcast-local
    networks:
      - internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8080/actuator/health/liveness"]
    security_opt: &security_settings
      - no-new-privileges:true

  frontend:
    build:
      context: riski-frontend
      dockerfile: Dockerfile
      args:
        - HTTPS_PROXY=${HTTPS_PROXY}
    ports:
      - "8081:8080"
    networks:
      - internal
